.cards__card-button {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    position: relative;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.25s linear;
    transform-origin: top center;
}

.cards__player-name {
    display: inline-block;
    margin-top: 8px;
}

.cards__card-button--active:hover {
    cursor: pointer;
    transform: translateY(-25px);
}

.cards__cards-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.cards__card-button {
    margin-right: -60px;
}

.cards__card-button--rotated {
    /* overlay the cards */
    margin-right: -87px;
}
