.card {
    border-radius: 6px;
    width: 50px;
    height: 100px;
    padding: 2px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    font-size: 30px;
    background: white;
}

.card--highlight {
    outline: 3px solid red;
}

.card__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 3px;
}