.ingame {
    height: 100%;
    width: 100%;
}

@media (max-width: 1024px) {
    .ingame {
        grid-template-columns: 1fr;
    }
}


.ingame__container {
    height: 100%;
    display: grid;
    grid-template:
        "stats player4 scoreboard" 1fr
        "player3 cards player5" 1fr
        "player2 you player6" 1fr
        / 1fr 1fr 1fr;
}

.ingame--low-players .ingame__container {
    grid-template:
        "stats player4 scoreboard" 1fr
        "player3 cards scoreboard" 1fr
        "player2 you scoreboard" 1fr
        / 1fr 1fr 1fr;
}

.ingame__player {
    width: 100%;
}

.ingame__player--2 {
    grid-area: player2;
    justify-self: left;
    text-align: left;
}

.ingame__player--3 {
    grid-area: player3;
    justify-self: left;
    text-align: left;
}

.ingame__player--4 {
    grid-area: player4;
    justify-self: center;
    text-align: center;
}

.ingame__player--5 {
    grid-area: player5;
    justify-self: flex-end;
    text-align: right;
}

.ingame__player--6 {
    grid-area: player6;
    justify-self: flex-end;
    text-align: right;
}

.ingame__player-hand {
    /* Ensures that the hands don't span too wide */
    max-width: 80%;
}

.ingame__player-nickname {
    display: inline-block;
    margin-top: 8px;
}

.ingame__your-cards--can-play .ingame__your-cards-label,
.ingame__player--active .ingame__player-nickname {
    outline: 2px solid red;
}

.ingame__spectator-warning {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
    color: red;
}

.ingame__autoplay-button {
    z-index: 9999;
}

.ingame__stats-container {
    grid-area: stats;
    display: flex;
    align-items: flex-start;
}

.ingame__guesses-container {
    position: relative;
    margin-right: 16px;
}

.ingame--low-players .ingame__guess-list,
.ingame__header-total-guessed:hover + .ingame__guess-list {
    display: flex;
}

.ingame__guess-list {
    display: none;
    position: absolute;
    top: 16px;
    left: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}

.ingame__header-guess {
    list-style: none;
}

.ingame__header-guess + .ingame__header-guess {
    margin-top: 8px;
}

.ingame__trump-card {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 16px;
    align-items: flex-start;
}

.ingame__trump-card-card-label {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 16px;
}

.ingame__trump-color {
    white-space: nowrap;
}

.ingame__played-cards {
    grid-area: cards;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ingame__played-cards-list {
    transform: translateY(50%);
}

.ingame__your-cards {
    grid-area: you;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    z-index: 3;
}

.ingame__your-cards-label {
    margin-bottom: 16px;
}

.ingame__current-player {
    grid-area: player;
    border-radius: 3px;
    padding: 16px;
    border: 1px solid black;
    background: #6c91d9;
    margin: 0 auto;
    min-width: 50%;
    text-align: center;
}

.ingame__round-done,
.ingame__guess {
    grid-area: guess;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingame__next-round-button {
    margin-top: 16px;
}

.ingame__current-player--you {
    background: #fcda49;
}

.ingame__score-board-container {
    grid-area: scoreboard;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.ingame--low-players .ingame__score-board-button {
    display: none !important;
}

.ingame--low-players .ingame__score-board {
    display: block;
    position: relative;
    top: 0;
}

.ingame__score-board {
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
}

.ingame__score-board-button:hover + .ingame__score-board {
    display: block;
}

.ingame__round-container {
    margin-right: 16px;
}

.ingame__trump-card-color {
    margin-left: 16px;
}

.ingame__trump-card-color .label {
    white-space: nowrap;
}

.ingame__trump-card-color-label {
    font-weight: bold;
}

.ingame__modal::before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, .6);
    z-index: -1;
}

.ingame__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

@media (max-width: 1024px) {
    .ingame__score-board-container {
        justify-self: center;
        margin-top: 32px;
        flex-direction: column;
        row-gap: 16px;
    }

    .ingame__container {
        grid-template:
            "trump"
            "cards"
            "you"
            "scoreboard"
            / 1fr;

        grid-row-gap: 32px;
    }

    .ingame__player {
        display: none;
    }

    .ingame__played-cards {
        min-height: 300px;
    }

    .ingame__score-board-container {
        justify-content: flex-start;
    }

    .ingame--low-players .ingame__guess-list {
        position: relative;
    }

    .ingame__score-board-button {
        display: none !important;
    }

    .ingame__score-board {
        display: block;
        position: relative;
    }
}

@media (max-width: 560px) {
    .ingame__container {
        display: flex;
        flex-direction: column;
    }

    .ingame__header {
        grid-template:
        "round"
        "guess"
        / 1fr;
    }

    .ingame__guess-list {
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 8px;
        white-space: nowrap;
        flex-wrap: wrap;
    }

    .ingame__header-guess {
        width: auto !important;
    }

    .ingame__header-guess + .ingame__header-guess {
        margin: 0;
    }

    .ingame__trump-color {
        justify-self: flex-end;
    }
}
