.ingame {
    width: 100%;
    height: 100%;
    padding: 32px;

    display: grid;
    grid-template:
        "header header"
        "trump score"
        "_ score"
        "played played" 1fr
        "guess guess" 1fr
        "player player"
        "hand hand"
        "autoplay autoplay"
        / 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 16px;

    background: rgb(92, 155, 64);
    background: radial-gradient(circle, rgba(92, 155, 64, 1) 0%, rgba(37, 101, 51, 1) 100%);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.ingame__autoplay-button {
    grid-area: autoplay;
    margin: 16px auto 0;
}

.ingame__header {
    grid-area: header;
    display: grid;
    grid-template:
        "round guess"
        / 1fr 1fr;

    margin-bottom: 16px;
}

.ingame__header-round {
    grid-area: round;
}

.ingame__header-guesses {
    grid-area: guess;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ingame__guess-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ingame__header-guess {
    text-align: right;
}

.ingame__header-guess + .ingame__header-guess {
    margin-top: 4px;
}

.ingame__header-guess--current-player {
    font-weight: bold;
    text-decoration: underline;
}

.ingame__header-player {
    grid-area: player;
}

.ingame__trump-cards {
    grid-area: trump;
}

.ingame__played-cards {
    grid-area: played;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ingame__your-cards {
    grid-area: hand;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ingame__current-player {
    grid-area: player;
    border-radius: 3px;
    padding: 16px;
    border: 1px solid black;
    background: #6c91d9;
    margin: 0 auto;
    min-width: 50%;
    text-align: center;
}

.ingame__guess {
    grid-area: guess;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingame__current-player--you {
    background: #fcda49;
}

.ingame__score-board-container {
    grid-area: score;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.ingame__score-board {
    position: absolute;
    top: 0;
    right: 0;
}