.ingame {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 32px;
}

@media (max-width: 1024px) {
    .ingame {
        grid-template-columns: 1fr;
    }
}


.ingame__container {
    display: grid;
    grid-template:
        "header header"
        "trump trump"
        "played played" 1fr
        "guess guess" 1fr
        "hand hand"
        "player player"
        "autoplay autoplay"
        / 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 16px;
}

.ingame__autoplay-button {
    grid-area: autoplay;
    margin: 16px auto 0;
}

.ingame__header {
    grid-area: header;
    display: grid;
    grid-template:
        "round guess"
        / 1fr 1fr;

    margin-bottom: 16px;
}

.ingame__header-round {
    grid-area: round;
}

.ingame__header-guesses {
    grid-area: guess;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ingame__guess-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ingame__header-guess {
    text-align: right;
}

.ingame__header-guess + .ingame__header-guess {
    margin-top: 4px;
}

.ingame__header-guess--current-player {
    font-weight: bold;
    text-decoration: underline;
}

.ingame__header-player {
    grid-area: player;
}

.ingame__trump-card-container {
    grid-area: trump;
}

.ingame__trump-card {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 16px;
    align-items: flex-start;
}

.ingame__trump-card .label {
    white-space: nowrap;
}

.ingame__trump-color {
    margin-top: 16px;
}

.ingame__played-cards {
    grid-area: played;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ingame__your-cards {
    grid-area: hand;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ingame__current-player {
    grid-area: player;
    border-radius: 3px;
    padding: 16px;
    border: 1px solid black;
    background: #6c91d9;
    margin: 0 auto;
    min-width: 50%;
    text-align: center;
}

.ingame__round-done,
.ingame__guess {
    grid-area: guess;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingame__next-round-button {
    margin-top: 16px;
}

.ingame__current-player--you {
    background: #fcda49;
}

.ingame__score-board-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

@media (max-width: 1024px) {
    .ingame__score-board-container {
        justify-self: center;
        margin-top: 32px;
    }
}

@media (max-width: 560px) {
    .ingame__container {
        display: flex;
        flex-direction: column;
    }

    .ingame__header {
        grid-template:
        "round"
        "guess"
        / 1fr;
    }

    .ingame__header-guesses {
        margin-top: 32px;
        align-items: flex-start;
    }
}
