.title__title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.title__title {
    text-shadow: 1px 1px white;
    font-size: 4rem;
}

.title__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    justify-items: center;
    align-items: center;
}

.title__debug-mode-toggle,
.title__join-game-button,
.title__join-game-button {
    margin-top: 16px;
}